@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    @apply bg-gray-100;
}

.text-writter{
    @apply border-r-4;
    animation: 
        cursor .4s step-end infinite alternate;
}
@keyframes cursor{
    50% { border-color: transparent; }
}

@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 24ch;
  }
}

.animate-typing {
    animation-name: typing;
    animation-duration: 5s;
    animation-timing-function: steps(24);
    animation-iteration-count: infinite;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.15em solid black;
}


.will-change-transform {
    will-change: transform;
}

.navbar-fixed{
    @apply fixed z-[999] bg-white bg-opacity-75 backdrop-blur-sm;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.2);
}

.hamburger-menu{
    @apply w-[30px] h-[2px] my-2 block;
}

.hamburger-active > span:nth-child(1){
    @apply rotate-45;
}
.hamburger-active > span:nth-child(3){
    @apply -rotate-45;
}
.hamburger-active > span:nth-child(2){
    @apply scale-0;
}

#darkTheme:checked ~ label div.toggle-circle{
    @apply translate-x-3
}